%section
  %h1 Dotfiles!
  %h3 What files?
  by Joseph Henrich
%section
  %section
    %h1 What the heck are they?
    %p.fragment The actual files
    %p.fragment The solution
  %section
    %h1 The files
    %span.fragment ~/.vimrc
    %br
    %span.fragment ~/.zshrc
    %br
    %span.fragment ~/.config/awesome/rc.lua
    %br
    %span.fragment ~/.tmux.conf
    %br
    %span.fragment and
    %span.fragment so
    %span.fragment many
    %span.fragment more!
  %section
    %h1 The solution
    %p
      %span.fragment.highlight-red Centralized,
      %span.fragment.highlight-red versioned
      %span.fragment.highlight-red and scripted
%section
  %section
    %h1 Why
    %p
      It's not *that* many files, right?
  %section
    %h1 Comfort
    %ul
      %li I want it to work my way
      %li And I want it my way everywhere
  %section
    %h1 Speed
    %h3 New machine/loaner
    %p.fragment It becomes your toolbox
    %span.fragment Once you have a toolbox, you'll start using it.
  %section
    %h1 Theft
    %ul
      %li.fragment "Wow, how did you do that?"
      %li.fragment "Someone has to have a script that does that"
%section
  %section
    %h1 ... But How?
  %section
    %img(src="images/theft.jpg")
  %section
    %h2 Holman's
    %p split into logical groupings
    %p my vimrc was 170+ lines long...
  %section
    %h2 Other options
%section
  %section
    %h1 Examples
  %section
    %h3 git aliases
  %section
    %h3 rvm
  %section
    %h3 vimrc
  %section
    %h3 powerline
