%section
  %h1 ChatOps!
  %h3 Automating Your Troubles Away
  by Joseph Henrich, Kev Taber and Dan Tyler
%section
  %h1 Who We Are
  Developers who like automation, chat and devops.
%section
  %h1 Why ChatOps?
  %ul
    %li ChatOps encourages collaboration
    %li ChatOps helps onboarding
    %li ChatOps assists in triage
    %li ChatOps automation removes human errors
%section
  %h1 Who Uses ChatOps?
  %ul
    %li Github coined the term
    %li Newrelic, Atlassian, Twitter and many more
%section
  %h1 What Did We Build?
    We built a collection of chat bots that perform focused tasks. We have bots for JIRA, Github and Security tasks. We also compiled a list of other chatbot ideas and questions/considerations that need to be addressed before we can roll everything out.
