%section
  %h1 ChatOps!
  %h3 Automating Your Troubles Away
  by Joseph Henrich, Tev Kaber and Dan Tyler
%section
  %h2 Who Are We?
  Developers who like automation, chat and devops.
%section
  %h1 What Is ChatOps?
  %ul
    %li Putting the tools in the middle of the conversation
    %li Automating repetitive tasks
    %li Making tools centralized and visible
%section
  %h2 Why ChatOps?
  %ul
    %li ChatOps encourages collaboration
    %li ChatOps helps onboarding
    %li ChatOps assists in triage
    %li ChatOps automation removes human errors
%section
  %h2 Who Uses ChatOps?
  %ul
    %li Github coined the term
    %li Newrelic, Atlassian, Twitter and many more
%section
  %h2 What Did We Build?
  %ul
    %li JIRA, Github and Security bots
    %li Compiled a list of bot ideas
    %li Enumerated open questions
%section
  %h1 Where Are We?
  %ul
    %li JIRA and Github bots already changing behavior
    %li Security reviewed open questions
    %li Bots in use in over 20 rooms, including Prod Issues
%section
  %h1 What's Next?
  Once we answer the open questions the bots can start
  %ul
    %li Reporting server status
    %li Restarting servers
    %li Deploying applications
    %li Running Jenkins jobs
%section
  %h1 Thank You!
  %h3 Questions

